body{
   background: #ffffff;
   width: 100%;
   margin: 0;
}

h1{
   font-size: 36px;
   color: #212121;
   font-family: 'Raleway', sans-serif;
   text-align: center;
   margin: 0;
   padding-top: 107px;
}
hr{
   background: #FF8B38;
   width: 64px;
   height: 2px;
   border: none;
   margin-top: 30px;
}
p{
   font-size: 14px;
   font-family: 'Open Sans', sans-serif;
   color: #86878B;
   text-align: center;
   margin: 30px 0;
}
h3{
   font-size: 20px;
   font-family: 'Open Sans', sans-serif;
   color: #333333;
   text-align: center;
   padding-top: 30px;
}


.main{
    text-align: center;
    margin-top: 80px;
}
.container{
    width: 350px;
    display: inline-block;
}

.container-lamp{
    width: 70px;
    height: 70px;
    margin: 0 auto;
    background-image: url(../img/lamp.jpg);
    background-repeat: no-repeat;
    background-position: center 21px;
    border: 2px solid #FF8B38;
    border-radius: 50%;
}

.container-keyboard{
    width: 70px;
    height: 70px;
    margin: 0 auto;
    background-image: url(../img/keyboard.jpg);
    background-repeat: no-repeat;
    background-position: center 25px;
    border: 2px solid #FF8B38;
    border-radius: 50%;
}

.container-volt{
    width: 70px;
    height: 70px;
    margin: 0 auto;
    background-image: url(../img/volt.jpg);
    background-repeat: no-repeat;
    background-position: center 19px;
    border: 2px solid #FF8B38;
    border-radius: 50%;
}
